.container{
    width: 450px;
    height: 250px;
    background-image: linear-gradient(pink,skyblue,rgb(121, 220, 123));
    border-radius: 30%;
    border:2px solid black;
 }
 button{
    width: 70px;
    height: 35px;
    background-color: rgb(124, 217, 114);
    border-radius: 5px;
    padding:2%;
    margin:5%;
    color: rgb(218, 48, 36);
 }
 button:hover{
    transform: scale(1.5);
    background-color: rgb(192, 178, 248);
}
 .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 input{
    width: 300px;
    height: 30px;
    border-radius: 50px;
    color: blue;
 }
 .button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

 }
#demo{
   text-align: center;
   font-size: 20px;
}
.container{
   margin: 10% 35%;
}
body{
    background-image:radial-gradient(magenta,red,yellow);
}